/* Banner2 */

	.banner2 {
		background-color: #8a4680;
		color: #e2d1df;
		padding: 8em 0;
		position: relative;
	}

		.banner2 input, .banner2 select, .banner2 textarea {
			color: #ffffff;
		}

		.banner2 a {
			color: #ffffff;
		}

		.banner2 strong, .banner2 b {
			color: #ffffff;
		}

		.banner2 h1, .banner2 h2, .banner2 h3, .banner2 h4, .banner2 h5, .banner2 h6 {
			color: #ffffff;
		}

		.banner2 blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		.banner2 code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		.banner2 hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		.banner2.full {
			padding: 0;
			min-height: 100vh;
			height: 100vh !important;
		}

		.banner2.half {
			padding: 0;
			min-height: 50vh;
			height: 50vh !important;
		}

		.banner2:after {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			-moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			-webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			-ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
			transition: opacity 1.5s ease-in-out, visibility 1.5s;
			background: #000000;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			visibility: hidden;
			width: 100%;
			z-index: 2;
		}

		.banner2 .indicators {
			bottom: 1.5em;
			left: 0;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			text-align: center;
			width: 100%;
			z-index: 2;
		}

			.banner2 .indicators li {
				cursor: pointer;
				display: inline-block;
				height: 2em;
				overflow: hidden;
				padding: 0;
				position: relative;
				text-indent: 2em;
				width: 2em;
			}

				.banner2 .indicators li:before {
					background: rgba(255, 255, 255, 0.35);
					border-radius: 100%;
					content: '';
					display: inline-block;
					height: 0.8em;
					left: 50%;
					margin: -0.4em 0 0 -0.4em;
					position: absolute;
					text-indent: 0;
					top: 50%;
					width: 0.8em;
				}

				.banner2 .indicators li.visible:before {
					background: #fff;
				}

		.banner2 > article {
			-moz-transition: opacity 1.5s ease, visibility 1.5s;
			-webkit-transition: opacity 1.5s ease, visibility 1.5s;
			-ms-transition: opacity 1.5s ease, visibility 1.5s;
			transition: opacity 1.5s ease, visibility 1.5s;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			text-align: center;
			top: 0;
			visibility: hidden;
			width: 100%;
			z-index: 0;
		}

			.banner2 > article:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}

			.banner2 > article:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: #000;
				opacity: 0.35;
			}

			.banner2 > article .inner {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				z-index: 1;
			}

				.banner2 > article .inner > :last-child {
					margin-bottom: 0;
				}

			.banner2 > article h2 {
				font-size: 3rem;
				margin-bottom: 0;
				color: #FFF;
				font-weight: 300;
			}

				.banner2 > article h2:after {
					display: none;
				}

			.banner2 > article p {
				color: rgba(255, 255, 255, 0.65);
				text-transform: uppercase;
				font-size: 3rem;
				font-weight: 300;
				margin: 0;
				padding-bottom: 1.75rem;
				letter-spacing: .25rem;
			}

				.banner2 > article p:after {
					content: '';
					position: absolute;
					margin: auto;
					right: 0;
					bottom: 0;
					left: 0;
					width: 50%;
					height: 1px;
					background-color: rgba(255, 255, 255, 0.65);
				}

			.banner2 > article a {
				color: #FFF;
				text-decoration: none;
			}

			.banner2 > article img {
				display: none;
			}

			.banner2 > article.visible {
				opacity: 1;
				visibility: visible;
			}

			.banner2 > article.top {
				z-index: 1;
			}

			.banner2 > article.instant {
				-moz-transition: none !important;
				-webkit-transition: none !important;
				-ms-transition: none !important;
				transition: none !important;
			}

		body.is-loading .banner2:after {
			opacity: 1.0;
			visibility: visible;
		}

		@media screen and (max-width: 1280px) {

			.banner2.full {
				padding: 0;
				min-height: 75vh;
				height: 75vh !important;
			}

		}

		@media screen and (max-width: 980px) {

			.banner2.full {
				padding: 0;
				min-height: 50vh;
				height: 50vh !important;
			}

			.banner2 > article {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			.banner2 > article .inner {
				width: 90%;
			}

			.banner2 > article p {
				margin-bottom: 1rem;
			}

			.banner2 > article h2 {
				font-size: 4em;
			}

		}

		body.is-mobile .banner2 > article {
			background-attachment: scroll;
		}
